body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-display {
  width: 82%;
  background-color: rgb(199, 228, 199);
  opacity: 85%;
  padding: 6px 3px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  visibility: hidden;
}

.alert-display-visible {
  visibility: visible;
}

.alert-msg {
  margin: 0;
  margin-left: 20px;
  color: #006e37;
  font-weight: bolder;
  width: 100%;
}

.alert-display img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

#close-alert {
  float: left;
  margin: 0;
  font-size: medium;
  color: #006e37;
  cursor: pointer;
  border: none;
  background: none;
}

#close-alert:hover {
  color: black;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  border: 1px solid black;
  padding: 25px 5px 15px 20px;
  margin-top: 10px;
}

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-details {
  width: 85%;
}

.name-details input {
  width: 100%;
  margin-bottom: 20px;
  font-size: larger;
  border-radius: 5px;
  border: 1.5px solid rgb(61, 204, 18);
}

.radio-btn {
  font-size: larger;
  width: 85%;
}

.radio-btn-title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: larger;
}

.radio-btn-option {
  margin-left: 80px;
  padding: 5px;
}

.text-area {
  width: 85%;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 5px;
}

.text-area textarea {
  width: 100%;
  font-size: large;
  border: 1px solid rgb(0, 0, 0);
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 60px;
  margin-right: 6%;
  padding: 7px;
  background-color: rgb(45, 157, 185);
  color: #fff;
  border: none;
}

.submit-btn:hover {
  cursor: pointer;
}

.name-details.success input {
  border-color: rgb(11, 230, 11);
}

.name-details.error input {
  border-color: rgb(248, 1, 1);
}

.img-section {
  width: 30%;
}

.img-section img {
  width: 100%;
}
